script(src='/libs/flexible.js')
link(href='/libs/weui/dist/style/weui.min.css',rel='stylesheet')
link(href='/css/base.css',rel='stylesheet')
link(href='/css/footer.css',rel='stylesheet')
script(src='/libs/zepto.min.js')
script(href='/libs/weui/src/example/weui.min.js',rel='stylesheet')
