.footer
 .f-tab
  if tab=="home"
   a(class="f-tab-home home-red",href="javascript:void(null);")
  else
   a(class="f-tab-home",href="./")
 .f-tab
  if tab=="find"
   a(class="f-tab-find find-red",href="javascript:void(null);")
  else
   a(class="f-tab-find",href="./find")
 .f-tab
  if tab=="mine"
   a(class="f-tab-mine mine-red",href="javascript:void(null);")
  else
   a(class="f-tab-mine",href="./mine")